<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.connection.username">usr</property>
        <property name="hibernate.connection.password">pwd</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- HikariCP settings -->
        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="hibernate.hikari.dataSource.user">usr</property>
        <property name="hibernate.hikari.dataSource.password">pwd</property>
        <property name="hibernate.hikari.maximumPoolSize">10</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>
        <property name="hibernate.hikari.connectionTimeout">30000</property>

        <!-- Caching -->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">jcache</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>


        <property name="hibernate.hbm2ddl.auto">validate</property>
        <property name="hibernate.enable_lazy_load_no_trans">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.generate_statistics">true</property>

        <mapping class="ru.otus.app.model.Product"/>
        <mapping class="ru.otus.app.model.Client"/>

    </session-factory>
</hibernate-configuration>
